<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          {% if site.data.social %}
            {% include social.html %}
          {% endif %}
          {% if site.data.seo.copyright_text %}
          <div class="copyright">{{ site.data.seo.copyright_text }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <div class="copyright">
            <a href="https://www.flaticon.com/br/icones-gratis/mapa"
               title="mapa ícones"
               style="font-weight: normal">Icons created by Freepik - Flaticon</a>
            <br />
            <a href="https://www.freepik.com/free-vector/flat-woman-taking-photos-with-smartphone_15694608.htm#query=illustration%20food&position=33&from_view=search&track=ais" style="font-weight: normal">Illustration by pikisuperstar</a> on Freepik
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
